@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
/* https://www.pxfuel.com/ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2rem;
    font-style: normal;
    padding: 2%;
    background-color:blue;
    color: white;
}
#extra{
  text-align: center;
  align-items: center;
}
/* Estilos para el contenedor */
#contenedor {
  display: flex;
  flex-wrap: wrap; /* Para que las tarjetas se envuelvan si no hay suficiente espacio */
  justify-content: space-around; /* Para distribuir el espacio disponible entre las tarjetas */
}
/* Estilos para cada tarjeta */
.hola {
  width: 300px; /* Ancho de cada tarjeta */
  margin: 20px; /* Espacio entre tarjetas */
  padding: 20px;
  background-color: #dbbbbb;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.hola:hover{
  background-color: gray;

}
/* Estilos para la imagen */
.hola img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
/* Estilos para el botón */
.hola button {
  display: block; 
  margin: 0 auto; 
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#extra:hover{
  scale: 1.1;
  background-color: black;
  color: white;
}
/* Estilos para el modal */
.modalContainer {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
#extra{
  text-align: center;
  align-items: center;
}
/* Estilos para el contenedor */
#contenedor1 {
  display: flex;
  flex-wrap: wrap; /* Para que las tarjetas se envuelvan si no hay suficiente espacio */
  justify-content: space-around; /* Para distribuir el espacio disponible entre las tarjetas */
}
/* Estilos para cada tarjeta */
.hola {
  width: 300px; /* Ancho de cada tarjeta */
  margin: 20px; /* Espacio entre tarjetas */
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* Estilos para la imagen */
.hola img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
/* Estilos para el botón */
.hola button {
  display: block; 
  margin: 0 auto; 
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el modal */
.modalContainer {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}